.priceFilter{
  margin-top: 15px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 0.9rem;
  font-weight: 700;
}
.priceDiff {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}
.priceTag{
  border: 1px solid lightgray;
}