.filters {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 15px 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.filters span {
  padding: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.filters span:last-child {
  grid-column: 1/3;
}