.wrapper{
  display: flex;
  background-color: rgb(247, 247, 247);
  padding: 20px 50px;
  min-height: 90vh;
  align-items: center;
}
.left{
  flex: 4;
  margin-right: 30px;
  width: 100%;
  height: 85vh;
}
.left img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.right{
  flex: 6;
  background-color: white;
  border-radius: 10px;
}
.top{
  margin-top: 20px;
  margin-right: 20px;
  font-size: 0.7rem;
}
.top p{
  text-align: right;
}
.top span{
  color: blue;
}
.formContainer{
  padding: 10px 100px;
}
.formContainer .title{
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.signUpOptions{
  display: flex;
  width: 100%;
  align-items: center;
}
.appleButton{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
}
.appleButton p{
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 5px;
}

.option{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: flex;
  background-color: #f0dee1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.horizontal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.divider{
  border: 1px solid lightgray;
  width: 100%;
}
.formWrapper{
  display: flex;
  flex-direction: column;
}
.groupPair{
  display: flex;
}
.groupPair .formGroup:last-child{
  margin-left: 10px;
}
.formGroup{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.formGroup input{
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 0 10px;
  font-size: 0.8rem;
}
.formGroup span{
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.checkItem{
  display: flex;
  margin-bottom: 5px;
}
.checkItem p{
  font-size: 0.7rem;
  margin-left: 5px;
}
.checkItem span{
  color: blue;
}
.formButton{
  width: fit-content;
  padding: 10px 15px;
  color: white;
  background-color: rgb(82, 157, 241);
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 10px;
}
