.navigator{
 display: flex;
 align-items: center;
 font-size: 0.75rem; 
 padding: 15px 50px;
 border-bottom: 1px solid lightgray;
}
.navigator span{
  margin-right: 5px;
  font-weight: 600;
  display: flex;
  color: grey;
  align-items: center;
}
.icon{
  font-size: 0.9rem;
}
.navigator .selected{
  color: black;
}